html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@media(min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

.light-dark {
  background-color: #21222c;
}

.lighter-dark {
  background-color: #282a36;
}

.header-color {
  background-color: #ac5fdb;
}

.fas {
  color: #39ed7b;
}

.heading-title {
  color: #cdd1cc;
}

.secondary-font-color {
  color: #ff79c6;
}

.rounded-corners {
  border-radius: 10px;
}

.test-color {
  color: #4ecbfd;
}

.map-img {
  height: 300px;
  opacity: 70%;
  object-fit: cover;
}

.team-total {
  background-color: #39ed7b;
}

.player-one-total {
  background-color: #e36db1;
}

.player-two-total {
  background-color: #cc65a0;
}

.player-three-total {
  background-color: #b3588c;
}

.player-four-total {
  background-color: #9f507e;
}

.test {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(../img/firstbackground.jpg);
  position: relative;
  height:100vh;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.navbar .transparent .navbar-inverse .navbar-inner {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}