@page
@model pubgstats.Pages.StatsResponseModel

<!-- Top section -->
<!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid light-dark">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4" id="page-top">
                        <!-- <h1 class="h3 mb-0 mt-3 text-primary">Season 1</h1> -->
                        <div class="dropdown">
                        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            Select season
                        </button>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item active" href="#">Season 10</a></li>
                                <li><a class="dropdown-item" href="#">Season 9</a></li>
                                <li><a class="dropdown-item" href="#">Season 8</a></li>
                                <li><a class="dropdown-item" href="#">Season 7</a></li>
                                <li><a class="dropdown-item" href="#">Season 6</a></li>
                                <li><a class="dropdown-item" href="#">Season 5</a></li>
                                <li><a class="dropdown-item" href="#">Season 4</a></li>
                                <li><a class="dropdown-item" href="#">Season 3</a></li>
                                <li><a class="dropdown-item" href="#">Season 2</a></li>
                                <li><a class="dropdown-item" href="#">Season 1</a></li>
                                
                                <!-- <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Separated link</a></li> -->
                            </ul>
                        </div>
                        <a href="#" class="d-none mt-3 d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i> Download stats</a>
                    </div>

                    <!-- First row -->
                    <div class="row">
                        <div class="col-xl-5 col-md-6 mb-4">
                            <div class="card rounded-corners text-center lighter-dark text-light shadow">
                                <div class="card-header h5 text-uppercase secondary-font-color">
                                    Last Match
                                </div>
                                 <img class="card-img-top map-img" src="./img/miramar.jpg" alt="mapName.jpg">
                                <div class="card-body">
                                    <div class="row">
                                    <div class="col-lg-5">Kills</div>
                                    <div class="col-lg-5">Placement</div>
                                    </div>
                                </div>
                                <div class="card-footer secondary-font-color">
                                    <em>2 days ago</em>
                                </div>
                                </div>
                        </div>
                        <div class="col-xl-7 col-md-6 mb-4">
                            <div class="card rounded-corners text-center lighter-dark text-light shadow">
                                <div class="card-header text-uppercase secondary-font-color">
                                    <ul class="nav nav-tabs card-header-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link " aria-current="true" href="#">FPP</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">TPP</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <table class="table table-dark table-hover table-sm">
                                    <thead>
                                        <tr>
                                        <th scope="col">Mode</th>
                                        <th scope="col">Wins</th>
                                        <th scope="col">Kills</th>
                                        <th scope="col">Matches</th>
                                        <th scope="col">K/D</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <th scope="row">Solo FPP</th>
                                        <td>10</td>
                                        <td>245</td>
                                        <td>25</td>
                                        <td>2.74</td>
                                        </tr>
                                        <tr>
                                        <th scope="row">Duo FPP</th>
                                        <td>2</td>
                                        <td>21</td>
                                        <td>5</td>
                                        <td>3.1</td>
                                        </tr>
                                        <tr>
                                        <th scope="row">Squad FPP</th>
                                        <td>2</td>
                                        <td>32</td>
                                        <td>2</td>
                                        <td>1.2</td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                                </div>
                        </div>
                    </div>

                <!-- Wins row -->
                    <div class="row ">
                <!-- Win card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card rounded-corners border-left-primary shadow h-100 py-2 lighter-dark">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold secondary-font-color text-uppercase mb-1 ">
                                                Wins</div>
                                            <div class="h3 mb-0 font-weight-bold heading-title">100</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-trophy fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                <!-- Top 10 card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card rounded-corners border-left-success shadow h-100 py-2 lighter-dark">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold secondary-font-color text-uppercase mb-1">
                                                Top 10's</div>
                                            <div class="h3 mb-0 font-weight-bold text-light">476</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-check-double fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                <!-- Win percent card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card rounded-corners border-left-info shadow h-100 py-2 lighter-dark">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold secondary-font-color text-uppercase mb-1">Win %
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h3 mb-0 mr-3 font-weight-bold text-light">7%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 7%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-percent fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                <!-- Games played card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card rounded-corners border-left-warning shadow h-100 py-2 lighter-dark">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold secondary-font-color text-uppercase mb-1">
                                                Games played</div>
                                            <div class="h3 mb-0 font-weight-bold text-light">984</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-gamepad fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- Kd row -->
                    <div class="row">
                <!-- Kills card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card rounded-corners border-left-primary shadow h-100 py-2 lighter-dark">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold secondary-font-color text-uppercase mb-1">
                                                Kills</div>
                                            <div class="h3 mb-0 font-weight-bold text-light">7264</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-skull fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                <!-- K/D Card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card rounded-corners border-left-success shadow h-100 py-2 lighter-dark">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold secondary-font-color text-uppercase mb-1">
                                                K/D</div>
                                            <div class="h3 mb-0 font-weight-bold text-light">2.84</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-skull-crossbones fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                <!-- Assists card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card rounded-corners border-left-success shadow h-100 py-2 lighter-dark">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold secondary-font-color text-uppercase mb-1">
                                                Assists</div>
                                            <div class="h3 mb-0 font-weight-bold text-light">338</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-hands-helping fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                <!-- Knocks card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card rounded-corners border-left-warning shadow h-100 py-2 lighter-dark">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold secondary-font-color text-uppercase mb-1">
                                                Knocks</div>
                                            <div class="h3 mb-0 font-weight-bold text-light">984</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-boxing-glove fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                <!-- Daily kills || TODO: Get a chart with kills from x amout of days. -->
                    <div class="row">
                        <div class="col-xl-8 col-lg-7">
                            <div class="card rounded-corners shadow border-0 mb-4 lighter-dark">
                                <!-- Card Header -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold secondary-font-color">Daily kills</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                <!-- Last played maps card || TODO: Get a nice pie chart with last 20 maps. -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card rounded-corners shadow mb-4 lighter-dark">
                                <!-- Card Header -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold secondary-font-color">Last played maps</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2 text-light">
                                            <i class="fas fa-circle text-primary"></i> Miramar
                                        </span>
                                        <span class="mr-2 text-light">
                                            <i class="fas fa-circle text-success"></i> Erangel
                                        </span>
                                        <span class="mr-2 text-light">
                                            <i class="fas fa-circle text-info"></i> Sanhok
                                        </span>
                                        <span class="mr-2 text-light">
                                            <i class="fas fa-circle text-warning"></i> Vikendi
                                        </span>
                                        <span class="mr-2 text-light">
                                            <i class="fas fa-circle secondary-font-color"></i> Taego
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                <!-- Team last game stats || TODO: Make this dynamic based on last game mode, solo - duo - squad -->
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card rounded-corners shadow mb-4 lighter-dark">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold secondary-font-color">Last Game Team Stats</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <h4 class="small font-weight-bold text-light">Team Total Kills <span
                                            class="float-right">10</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar team-total" role="progressbar" style="width: 100%"
                                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold text-light">playerOneName <span
                                            class="float-right">40% (4 kills)</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar player-one-total" role="progressbar" style="width: 40%"
                                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold text-light">plaerTwoName <span
                                            class="float-right">60% (6 kills)</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar player-two-total" role="progressbar" style="width: 60%"
                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold text-light">playerThreeName <span
                                            class="float-right">0% (0 kills)</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar player-three-total" role="progressbar" style="width: 10%"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold text-light">playerFourName <span
                                            class="float-right">0% (0 kills)</span></h4>
                                    <div class="progress">
                                        <div class="progress-bar player-four-total" role="progressbar" style="width: 10%"
                                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6 mb-4">

                            <!-- FIXME: Make this a ViewComponent -->
                            <!-- Friend card || TODO: Make the cards movable, so that user can drag and drop the order of the friend.-->
                            <div class="card rounded-corners shadow mb-4 lighter-dark">
                                <div class="card-header py-3">
                                    <div class="row">
                                    <h6 class="col-lg-6 m-0 font-weight-bold secondary-font-color">Friends</h6>
                                    <h6 class="col-lg-6 m-0 font-weight-bold secondary-font-color text-end text-uppercase">+ Add</h6>
                                    </div>
                                </div>
                                <!-- First Friend Card -->
                                <div class="card-body text-light">
                                    <div class="card rounded-corners mb-4 lighter-dark">
                                        <div class="card-body">
                                            <h3 class="text-center">Psykopistol</h3>
                                            <div class="row">
                                                <h5 class="col-lg-6 text-warning text-center">Casual</h5>
                                                <h5 class="col-lg-6 secondary-font-color text-center">Ranked</h5>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 text-center text-light">
                                                    <p>Matches: 128</p>
                                                </div>
                                                <div class="col-lg-3 text-center text-light">
                                                    <p>Wins: 48</p>
                                                </div>
                                                <div class="col-lg-3 text-center text-light">
                                                    <p>Kills: 800</p>
                                                </div>
                                                <div class="col-lg-3 text-center text-light">
                                                    <p>K/D: 3.8</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 text-center text-light">
                                                    <p>Kills: 8</p>
                                                </div>
                                                <div class="col-lg-3 text-center text-light">
                                                    <p>Kills: 8</p>
                                                </div>
                                                <div class="col-lg-3 text-center text-light">
                                                    <p>Kills: 8</p>
                                                </div>
                                                <div class="col-lg-3 text-center text-light">
                                                    <p>Kills: 8</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>   
                                </div>
                                <!-- Second Friend Card -->
                                <div class="card-body text-light">
                                    <div class="card rounded-corners mb-4 lighter-dark">
                                        <div class="card-body">
                                            <h3 class="text-center">Psykopistol</h3>
                                            <div class="row">
                                                <h5 class="col-lg-6 text-warning text-center">Casual</h5>
                                                <h5 class="col-lg-6 secondary-font-color text-center">Ranked</h5>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 text-center text-light">
                                                    <p>Kills: 8</p>
                                                </div>
                                                <div class="col-lg-3 text-center text-light">
                                                    <p>Kills: 8</p>
                                                </div>
                                                <div class="col-lg-3 text-center text-light">
                                                    <p>Kills: 8</p>
                                                </div>
                                                <div class="col-lg-3 text-center text-light">
                                                    <p>Kills: 8</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 text-center text-light">
                                                    <p>Kills: 8</p>
                                                </div>
                                                <div class="col-lg-3 text-center text-light">
                                                    <p>Kills: 8</p>
                                                </div>
                                                <div class="col-lg-3 text-center text-light">
                                                    <p>Kills: 8</p>
                                                </div>
                                                <div class="col-lg-3 text-center text-light">
                                                    <p>Kills: 8</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>   
                                </div>
                            </div>

                            <!-- Some unkown card. TODO: Come up with something to put in this card. -->
                            <div class="card rounded-corners shadow mb-4 lighter-dark">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Lorem, ipsum.</h6>
                                </div>
                                <div class="card-body">
                                    <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nulla distinctio ut architecto ab ipsum, non porro corporis quo soluta totam rerum provident ratione error harum numquam. Sapiente dicta magni hic dolores ex, suscipit odio consequatur iusto ratione commodi illo porro consequuntur, repudiandae eveniet nisi.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <div class="light-dark mb-4">
    <a class="scroll-to-top rounded light-dark" href="#page-top">
        <i class="fas fa-angle-up fa-x2"></i>
    </a>
    </div>
